# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Environment Variables (IMPORTANT: NEVER COMMIT .env)
.env

# Vercel
.vercel

# IDEs
.vscode/
.idea/
.cursor/

# OS
.DS_Store
Thumbs.db
